.card-box {
  background-color: #928d8d;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.box {
  font-size: 100px;
  flex-basis: 200PX;
  flex-shrink: 1;
}

.box1 {
    order: 2;
  background-color: aqua;
}

.box2 {
  background-color: yellow;
}

.box3 {
  background-color: #9606dd;
}

.box4 {
  background-color: #eb1704;
}

.box5 {
  background-color: #fff;
}

.box6 {
  background-color: rgb(130, 70, 6);
}

.box7 {
  background-color: aquamarine;
}

.box8 {
  background-color: #0cc844;
}
